html, body {
    scroll-behavior: smooth;
}

.highlight {
    background: #ffcd00;
    color: #212529;
}

.jumbotron {
    background-color: #f2f5f7;
}

.pehapkari-svg {
    vertical-align: bottom;

}

.lead {
    font-weight: 400;
}

.jumbotron h1 {
    font-weight: 400;
}

.reference .media-body p {
    font-style: italic;
}
.favicon-img {
    margin: 3px 0 2px;
    vertical-align: text-bottom;
}
.nav-link {
    text-decoration: underline;
    font-weight: bold;
}
.navbar-brand {
    font-size: 150%;
}

h2 {
    position: relative;
}

h2:target::before {
    content: ' ▶ ';
    color: #f00;
    font-weight: bold;
    position: absolute;
    left: -1em;
    font-family: Arial;
    line-height: 135%;
}

.back-to-home {
    display: none;
    font-size: 110%;
}

h1 {
    line-height: 1.3em;
}

@media only screen and (max-width: 37.5em) {
    .back-to-home {
        display: inline-block;
    }
}
