html, body {
    scroll-behavior: smooth;
}

.highlight {
    background: #ffcd00;
    color: #212529;
}

.pehapkari-svg {
    vertical-align: bottom;

}

h1, h2, h3 {
    font-family: BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif;
}

.favicon-img {
    margin: 3px 0 2px;
    vertical-align: text-bottom;
}

h2 {
    position: relative;
}

h2:target::before {
    content: ' ▶ ';
    color: #f00;
    font-weight: bold;
    position: absolute;
    left: -1em;
    line-height: 135%;
}

.back-to-home {
    display: none;
    font-size: 110%;
}

h1 {
    line-height: 1.3em;
}

@media only screen and (max-width: 37.5em) {
    .back-to-home {
        display: inline-block;
    }
}

/* footer banner */
.footer-div {
    background: #fff0b3;
    border: 1px solid #ffcd00;
    padding: 1em 2em;
}

.footer-div img{
    float:left;
    width: 4em;
    margin: 0 .5em .5em 0;
}
