<div class="social-share">
  <h4>Share on</h4>
  <ul class="list-inline">
    <li class="list-inline-item">
      <a href="https://twitter.com/intent/tweet?text={{ post.relativeUrl }}" class="btn btn-info">
        <i class="fab fa-fw fa-twitter"></i><span> Twitter</span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.relativeUrl }}" class="btn btn-primary">
        <i class="fab fa-fw fa-facebook"></i><span> Facebook</span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://plus.google.com/share?url={{ post.relativeUrl }}" class="btn btn-danger">
        <i class="fab fa-fw fa-google-plus"></i><span> Google+</span>
      </a>
    </li>
  </ul>
</div>
