<div class="footer-div">
	<img src="/images/phpstorm.png">
	<p>Přestaňte dělat zbytečné chyby z nepozornosti a plýtvat časem. <strong>Naučte se efektivně využívat PhpStorm.</strong></p>
	<p>Přijďte na školení, které se koná 25. května. </p>
	<a href="https://www.tomasfejfar.cz/skoleni/phpstorm/#next-date"
		 class="btn btn-primary">Chci vědět víc!</a>
</div>
