<header class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="/">{{ site_title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {#
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#skoleni">Veřejná školení</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#firemni">Firemní konzultace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#oMne">O mně</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#reference">Reference</a>
                </li>
            </ul>
        </div>
    </div>
    #}
</header>
<hr class="invisible">
<div class="container">
