<style>
	.footer-div {
		background: #fff0b3;
		border: 1px solid #ffcd00;
		padding: 1em 2em;
	}

	.footer-div img{
		float:left;
		width: 4em;
		margin: 0 .5em .5em 0;
	}
</style>

<div class="footer-div">
	<img src="/images/phpstorm.png">
	<p><em>Příležitost, která se už nebude opakovat!</em><br>Příští školení PhpStormu proběhne 27. 4. 2018 v Jablonci. A protože tento termín sponzoruje <strong>Jablotron</strong>, tak se tentokrát můžete zůčastnit zdarma. </p>
	<p>Místa rychle ubývají, tak s přihlašováním neotálejte. </p>
	<a href="https://www.tomasfejfar.cz/skoleni/phpstorm/" class="btn btn-primary">Chci vědět víc!</a>
</div>
