<style>
	.footer-div {
		background: #fff0b3;
		border: 1px solid #ffcd00;
		padding: 1em 2em;
	}

	.footer-div img{
		float:left;
		width: 4em;
		margin: 0 .5em .5em 0;
	}
</style>

<div class="footer-div">
	<img src="/images/phpstorm.png">
	<p>Přestaňte dělat zbytečné chyby z nepozornosti a plýtvat časem. <strong>Naučte se efektivně využívat PhpStorm.</strong></p>
	<p>Přijďte na školení, které se koná 25. ledna. </p>
	<a href="https://pehapkari.cz/vzdelavej-se/#ovladni-phpstorm-ndash-od-zakladu-po-profi-tipy"
		 class="btn btn-primary">Chci vědět víc!</a>
</div>
