<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
    {% include '_snippets/_head.twig' %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-3">
                {% include '_snippets/_author-bio.twig' %}
            </div>
            <div class="col-9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="container mt-5 text-center">
        <footer>
            {% include '_snippets/_footer.twig' %}
        </footer>
    </div>

    {% include '_snippets/_scripts.twig' %}

    </body>
</html>
