$dim-color: silver;
$smaller-size: .5em;

.subtitle {
    color: $dim-color;
    display: block;
    font-size: $smaller-size;
}

footer {
    color: $dim-color;
    text-align: center;
}

.top-navigation li a {
    &:hover, &:active {
        @media #{$medium} {
            color: gray;
        }
    }
}

.button {
    padding: .5em 1em;
    border: 1px solid silver;
    line-height: 1em;
    text-decoration: none;

    @media #{$micro} {
        display: block;
    }
    @media #{$small} {
        display: inline-block;
    }

    &:hover {
        background-color: #eee;
    }
}

.image-wrap {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 10em;
    max-height: 180px;
    img {
        visibility: hidden;
        max-height: 180px;
    }
    &:after {
        display: none;
    }
}

body {
    @include font(18);
    letter-spacing: -.003em;
}
