$dim-color: silver;
$smaller-size: .5em;

.subtitle {
    color: $dim-color;
    display: block;
    font-size: $smaller-size;
}

footer {
    color: $dim-color;
    text-align: center;
}

.top-navigation li a {
    &:hover, &:active {
        @media #{$medium} {
            color: gray;
        }
    }
}

.button {
    padding: .5em 1em;
    border: 1px solid silver;
    line-height: 1em;
    text-decoration: none;

    @media #{$micro} {
        display: block;
    }
    @media #{$small} {
        display: inline-block;
    }

    &:hover {
        background-color: #eee;
    }
}


