$dim-color: silver;
$smaller-size: .5em;

.subtitle {
    color: $dim-color;
    display: block;
    font-size: $smaller-size;
}

footer {
    color: $dim-color;
    text-align: center;
}

.top-navigation li a {
    &:hover, &:active {
        @media #{$medium} {
            color: gray;
        }
    }
}
