---
layout: _layouts/defaut.twig
---

<div class="jumbotron">
    <img class="float-lg-right img-thumbnail rounded-circle d-none d-lg-block" src="/assets/images/me.jpg">
    <h1 class="display-3">Tomáš Fejfar</h1>
    <h2 class="mb-5">
        <small class="text-muted">PHP vývojář a&nbsp;lektor webového vývoje</small>
    </h2>
      <p>      <a class="btn btn-primary" href="#posts">Přečtěte si něco z toho co píšu</a>
           <span class="btn">nebo</span>  <a class="btn btn-outline-primary"
               href="http://www.tomasfejfar.cz">se podívejte na můj web
            </a>
      </p>
</div>

Here goes the content
